# Bỏ qua tất cả các file
*

# Giữ lại các file cụ thể
!.gitignore
!README.md
!quizz.py
!index.py
!requirements.txt
!run_menu.py
!ultils.py
!browser_automation.py
!config.example.txt
!.env.example
!config.txt
